[branch]
    autosetuprebase = always
#[user]
#    name = Jef Shaw Mallal
#    email = 
[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[core]
    editor = vim
    whitespace = -space-before-tab,cr-at-eol,tab-in-indent,trailing-space,tabwidth=4
[gitreview]
    username = jef.mallal
    username = mallal
[alias]
    amend = commit --amend
    alias = "!git config --list | grep alias"
    tags = show-ref --tags
    new = !sh -c 'git log $1@{1}..$1@{0} "$@"'
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lgp = !git lg -p
    lgn = !git lg --name-only
    lgs = !git lg --stat
    logn = log --name-only
#Show tracked files
    tracked = git ls-files
# Will start a repo in this directory
    this = !git init && git add -A && git commit -m \"initial commit\"
# ignore/unignore file without .gitignore
    assume-unchanged = update-index --assume-unchanged
    assumeall = "!git ls-files --modified | xargs git assume"
    unassume = update-index --no-assume-unchanged
    unassumeall = "!git assumed | xargs git update-index --no-assume-unchanged"
# list ignored files
    assumed  = "!git ls-files -v | grep ^h | cut -c 3-"
# Select the entirety of either our or their file in a 3 way merge.
    ours   = "!f() { git checkout --ours $@ && git add $@; }; f"
    theirs = "!f() { git checkout --theirs $@ && git add $@; }; f"
# Print just the name of the current branch; useful for scripting.
    branch-name = !git branch | grep '* ' | tr -d '* '
    shallow = clone --depth 1
# Cleans
    test-clean = clean -X -d -n
    show-clean = clean -X -d -n
    do-clean = clean -X -d -f
    do-reset-clean = clean -x -d -f
    oldest-ancestor = !zsh -c 'diff -u <(git rev-list --first-parent \"${1:-master}\") <(git rev-list --first-parent \"${2:-HEAD}\") | sed -ne \"s/^ //p\" | head -1' -
[color "diff"]
    whitespace = red reverse
[color "status"]
    added = green
    changed = red
    untracked = cyan
[git-up "bundler"]
    check = true
[git-up "fetch"]
    all = true
[push]
    default = simple
[merge]
    conflictstyle = diff3
[init]
    defaultBranch = main
